body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
 background: lightskyblue;
  color: rgb(246, 247, 244);
  text-align: center;
  padding: 12px;
}

.container {
  display: flex;
  height: calc(100vh - 90px);
}

.panel {
  width: 35%;
  padding: 15px;
  background: white;
}

#map {
  width: 65%;
  height: 100%;
}

input, button {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
 background:yellowgreen;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background: #eee;
  margin: 5px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.delete-btn:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .panel, #map {
    width: 100%;
    height: 50vh;
  }

 
}





